@model BobaShop.Models.Product

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddToCart">

    <div class="container">


        <!-- Portfolio Item Heading -->
        <h1 class="my-4">
            @ViewBag.Product
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-fluid" src="~/img/@Html.DisplayFor(model => model.Photo)" alt="">
            </div>

            <div class="col-md-4">
                <h3 class="my-3">@Html.DisplayNameFor(model => model.Description)</h3>
                <p>@Html.DisplayFor(model => model.Description)</p>
                <h3 class="my-3">Details</h3>
                <ul>
                    <li>@Html.DisplayNameFor(model => model.Price)<span class="text-danger"> @Html.DisplayFor(model => model.Price)</span></li>
                    <li>Quantity: <span><input type="number" name="Quantity" id="Quantity" class="text-center" min="1" /></span></li>
                </ul>
                <input type="hidden" name="ProductId" id="ProductId" value="@Model.ProductId" />
                <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Add to Cart</button> | 
                <a href="javascript:history.go(-1);">Back to List</a>
            </div>

        </div>
        <!-- /.row -->
    </div>
</form>

